body, html {
  margin: 0;
}

.iframe {
  display: none;
  position: fixed;
  top: 40px;
  left: 20px;
}

h1 {
  position: fixed;
  top: 30vh;
  width: 100vw;
  text-align: center;
  color: rgba(255,255,255,0.85);
  font-size: 10rem;
  z-index: 30;
}