@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&display=swap');

body, html {
  margin: 0;
  background-color: rgb(255, 255, 255);
  font-family: 'Cormorant Garamond', serif;
}

h1 {
  position: fixed;
  top: 25vh;
  width: 100vw;
  text-align: center;
  color: rgba(255,255,255,0.85);
  font-size: 9vw;
  z-index: 30;
}


.iframe {
  display: none;
  position: fixed;
  top: 40px;
  left: 20px;
}

@media all and (max-width: 1200px) {
.iframe{
  -moz-transform: scale(0.5, 0.5); 
  -webkit-transform: scale(0.5, 0.5); 
  -o-transform: scale(0.5, 0.5);
  -ms-transform: scale(0.5, 0.5);
  transform: scale(0.5, 0.5); 
  -moz-transform-origin: top left;
  -webkit-transform-origin: top left;
  -o-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left;
  }
}

@media all and (max-width: 800px) {
.iframe{
  -moz-transform: scale(0.25, 0.25); 
  -webkit-transform: scale(0.25, 0.25); 
  -o-transform: scale(0.25, 0.25);
  -ms-transform: scale(0.25, 0.25);
  transform: scale(0.25, 0.25); 
  -moz-transform-origin: top left;
  -webkit-transform-origin: top left;
  -o-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left;
  }
}
